@use "./base" as *;

main {
  .margin {
    .contactlayout {
      display: grid;
      grid-template-columns: 1fr 3fr;

      .sectitle {
        padding: $padding-pc-xl $padding-pc-md $padding-pc-xl $padding-pc-md;
        @include textstyle-pr-sm-24();
      }
      
      .contents {
        padding: $padding-pc-xl $padding-mo-xl $padding-pc-xl $padding-pc-md;

      }
    }

    #getin {
      .contents {

        h4 {
          @include textstyle-pr-md-40(); 
          margin-bottom: $padding-pc-lg;
          line-height: 160%;
        }
        
        .copy-btn {
          border: none;
          background-color: $color-white-normal;
          position: relative;
          cursor: pointer;
          padding: 0;
          
          em {
            @include textstyle-pr-lg-72();
          }

          .tooltip {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            background-color: $color-primary-normal;
            @include textstyle-pr-sm-18();
            color: $color-white-normal;
            white-space: nowrap;
            padding: 6px 16px 6px 16px;
            border-radius: 999px;
            opacity: 0;
            @include transition-normal();
            
            &::after {
              content: "";
              position: absolute;
              top: 100%;
              left: 50%;
              transform: translateX(-50%);
              border-width: 6px;
              border-style: solid;
              border-color: $color-primary-normal transparent transparent transparent;
              @include transition-normal();
            }
            
            &.active {
              background-color: #8D47E9;
              &::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
                border-width: 6px;
                border-style: solid;
                border-color: #8D47E9 transparent transparent transparent;
              }
              
            }
          }

          &:hover {
            .tooltip {
              opacity: 1;
              top: -4px;
            }
          }
        }
      }
    }
    
    #elsewheret {
      background-color: $color-primary-normal;
      color: $color-white-normal;
      .sectitle {
        color: inherit;
      }
      .contents {
        h4 {
          @include textstyle-pr-md-40();
          color: inherit;
        }
        
        .link_wrapper {
          padding-top: $padding-pc-xl;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: $padding-pc-lg;

          li { 
            a {
              display: flex;
              justify-content: space-between;
              padding: $padding-mo-sm $padding-mo-xs $padding-mo-sm $padding-mo-xxs;
              border-bottom:  1px dashed $color-white-normal;
              @include transition-normal();
              
              div {
                display: flex;
                align-items: center;
                gap: $padding-pc-sm; 
                height: $padding-pc-sm;
                @include textstyle-pr-sm-20();
                color: inherit;
                
                svg {
                  height: 100%;
                  width: auto;
                  path {
                    color: inherit;
                  }
                }
              }
              
              .arrow {
                @include iconSpinRe();
                path {
                  color: inherit;
                }
              }

              &:hover {
                background-color: $color-white-normal;
                color:  $color-primary-normal;
                padding: $padding-mo-sm $padding-mo-xs $padding-mo-sm $padding-mo-sm;

                div {
                  color: inherit;
  
                  svg {
                    path {
                      color: inherit;
                    }
                  }
                }
                
                .arrow {
                  path {
                    fill: $color-primary-normal;
                  }
                  @include iconSpin();
                }
              }
            }
          }
        }
      }
    }
  }
}