/***** font *****/
// 던파 비트체 
@font-face {
  font-family: 'DNFBitBitv2';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf')format('opentype')
}

// pretendard
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/***** color *****/
$color-primary-dark : #DE300D;
$color-primary-normal : #F56242;
$color-primary-light : #F7917D;
$color-primary-alpha80 : rgba(245, 99, 66, 0.8);
$color-primary-alpha50 : rgba(245, 99, 66, 0.5);
$color-primary-alpha20 : rgba(245, 99, 66, 0.2);

$color-white-normal : #FBF6F3;
$color-white-alpha80 : rgba(251, 246, 243, 0.8);
$color-white-alpha50 : rgba(251, 246, 243, 0.5);
$color-white-alpha20 : rgba(251, 246, 243, 0.2);
$color-white-alpha00 : rgba(251, 246, 243, 0);

$color-black-normal : #111210;
$color-black-darkmode : #303131;
$color-black-alpha80 : rgba(17, 18, 16, 0.8);
$color-black-alpha50 : rgba(17, 18, 16, 0.5);
$color-black-alpha20 : rgba(17, 18, 16, 0.2);



/***** txet style *****/
$font-dntbit : 'DNFBitBitv2',
-apple-system,
BlinkMacSystemFont,
system-ui,
Roboto,
"Helvetica Neue",
"Segoe UI",
"Apple SD Gothic Neo",
"Noto Sans KR",
"Malgun Gothic",
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
sans-serif;

$font-pretendard : "Pretendard Variable",
Pretendard,
-apple-system,
BlinkMacSystemFont,
system-ui,
Roboto,
"Helvetica Neue",
"Segoe UI",
"Apple SD Gothic Neo",
"Noto Sans KR",
"Malgun Gothic",
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
sans-serif;

$line-height : 1.4;

$font-weight-sm : 500;
$font-weight-md : 700;

$font-size-56 : 3.5rem;
$font-size-32 : 2rem;
$font-size-24 : 1.5rem;
$font-size-20 : 1.25rem;
$font-size-18 : 1.125rem;
$font-size-16 : 1rem;
$font-size-14 : 0.875rem;

@mixin textstyle-bit-56 {
  font-family: $font-dntbit;
  line-height: $line-height;
  font-size: $font-size-56;
  font-weight: normal;
  color: $color-primary-normal;
}

@mixin textstyle-bit-32 {
  font-family: $font-dntbit;
  line-height: $line-height;
  font-size: $font-size-32;
  font-weight: normal;
  color: $color-primary-normal;
}

@mixin textstyle-bit-24 {
  font-family: $font-dntbit;
  line-height: $line-height;
  font-size: $font-size-24;
  font-weight: normal;
  color: $color-primary-normal;
}

@mixin textstyle-bit-20 {
  font-family: $font-dntbit;
  line-height: $line-height;
  font-size: $font-size-20;
  font-weight: normal;
  color: $color-primary-normal;
}

@mixin textstyle-bit-18 {
  font-family: $font-dntbit;
  line-height: $line-height;
  font-size: $font-size-18;
  font-weight: normal;
  color: $color-primary-normal;
}

@mixin textstyle-pr-md-20 {
  font-family: $font-pretendard;
  line-height: $line-height;
  font-size: $font-size-20;
  font-weight: $font-weight-md;
  color: $color-primary-normal;
}

@mixin textstyle-pr-md-18 {
  font-family: $font-pretendard;
  line-height: $line-height;
  font-size: $font-size-18;
  font-weight: $font-weight-md;
  color: $color-primary-normal;
}

@mixin textstyle-pr-sm-16 {
  font-family: $font-pretendard;
  line-height: $line-height;
  font-size: $font-size-16;
  font-weight: $font-weight-md;
  color: $color-primary-normal;
}

@mixin textstyle-pr-sm-18 {
  font-family: $font-pretendard;
  line-height: $line-height;
  font-size: $font-size-18;
  font-weight: $font-weight-sm;
  color: $color-primary-normal;
}

@mixin textstyle-pr-sm-16 {
  font-family: $font-pretendard;
  line-height: $line-height;
  font-size: $font-size-16;
  font-weight: $font-weight-sm;
  color: $color-primary-normal;
}

@mixin textstyle-pr-sm-14 {
  font-family: $font-pretendard;
  line-height: $line-height;
  font-size: $font-size-14;
  font-weight: $font-weight-sm;
  color: $color-primary-normal;
}

/***** padding *****/
$padding-pc-lg : 36px;
$padding-pc-md : 32px;
$padding-pc-sm : 24px;
$padding-pc-xs : 18px;
$padding-pc-xxs : 4px;

$padding-mo-xl : 60px;
$padding-mo-lg : 40px;
$padding-mo-md : 20px;
$padding-mo-sm : 12px;
$padding-mo-xs : 8px;
$padding-mo-xxs : 4px;

@mixin media-lg-margin {
  width: 100%;
  padding: 0 $padding-pc-md;
}

@mixin media-lg-padding {
  width: 100%;
  padding: $padding-pc-md;
}

@mixin media-md-margin {
  width: 100%;
  padding: 0 $padding-pc-sm;
}

@mixin media-md-padding {
  width: 100%;
  padding: $padding-pc-sm;
}

@mixin media-sm-margin {
  width: 100%;
  padding: 0;
}

/***** radius *****/
$radius : 999px;

/****** transition ******/
$transition : 0.3s;


/***** btn *****/
@mixin ghost-btn {
  height: 36px;
  padding: 0 $padding-pc-xs;
  display: grid;
  justify-content: center;
  align-items: center;
  border: $color-white-normal 1px solid;
  @include textstyle-bit-18();
  transition: $transition;

  &:hover {
    border: $color-primary-normal 1px solid;
    border-radius: $radius;
  }
}

@mixin noraml-btn {
  height: 36px;
  padding: 0 $padding-pc-xs;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: $color-primary-normal;
  border: $color-primary-normal 1px solid;
  border-radius: $radius;
  @include textstyle-bit-18();
  color: $color-white-normal;
  transition: $transition;

  &:hover {
    border: $color-primary-normal 1px solid;
    background-color: $color-white-normal;
    color: $color-primary-normal;
  }
}

/***** border *****/
@mixin border {
  border-style: solid;
  border-color: $color-primary-normal;
}


/********** header **********/
header {
  position: fixed;
  top: 0;
  z-index: 9999;
  @include media-lg-margin();
  background-color: $color-white-normal;
  @include border;
  border-width: 0 0 1px 0;
  transition: $transition;

  nav {
    width: 100%;
    padding: $padding-pc-xs $padding-pc-md;
    background-color: $color-white-normal;
    display: flex;
    justify-content: space-between;
    @include border;
    border-width: 0 1px 0 1px;
    transition: $transition;

    h1 {
      a {
        height: 36px;
        width: 36px;

        img {
          width: 100%;
        }
      }
    }

    .gnb {
      display: flex;
      gap: $padding-pc-xs;

      .ghostbtn {
        @include ghost-btn();
      }

      .normalbtn {
        @include noraml-btn();
      }

    }
  }
}

@media (max-width: 1200px) {
  header {
    @include media-md-margin();

    nav {
      padding: $padding-pc-xs $padding-pc-sm;
    }
  }
}

@media (max-width: 700px) {
  header {
    @include media-sm-margin();

    nav {
      border: none;
    }
  }
}


/********** main **********/
main {
  background-color: $color-white-normal;

  .margin {
    @include media-lg-margin();
    padding-top: 76px;
    transition: $transition;

    section {
      @include border();
      border-width: 0 1px 0 1px;
      transition: $transition;

      .slider {
        overflow: hidden;
        @include border();
        border-width: 0 0 1px 0;
        padding: $padding-pc-md 0 $padding-pc-md 0;
        display: grid;
        grid-template-columns: 150px 1fr 150px;

        .slider_gradient {
          z-index: 999;
          width: 120px;
          height: 50px;
          display: grid;
          align-self: center;
        }

        .slider_gradient1 {
          grid-column: 1 / 2;
          grid-row: 1 / 2;
          justify-self: start;
          background-image: linear-gradient(to right, $color-white-normal, $color-white-alpha00);
        }

        .slider_gradient2 {
          grid-column: 3 / 4;
          grid-row: 1 / 2;
          justify-self: end;
          background-image: linear-gradient(to left, $color-white-normal, $color-white-alpha00);
        }

        .slider_wrapper {
          display: flex;
          gap: $padding-mo-xl;
          grid-column: 1 / 4;
          grid-row: 1 / 2;
          align-self: center;
          justify-self: center;
          height: 50px;

          img {
            height: 100%;
          }
        }
      }

      .article_title {
        @include media-lg-padding();
        display: flex;
        justify-content: space-between;

        h3 {
          @include textstyle-bit-32();
        }

        a {
          display: flex;
          gap: $padding-pc-xxs;
          align-items: center;
          @include textstyle-pr-sm-18();
        }
      }
    }

    /********** work **********/
    #work {
      .work_wrapper {
        @include media-lg-padding();
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        grid-auto-flow: row;
        gap: $padding-pc-sm;

        .work_item {
          width: 100%;
          aspect-ratio: 6 / 5;
          display: grid;

          .projectimg {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            background-color: #3b44cb;
          }
          
          a {
            z-index: 999;
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  main {
    .margin {
      @include media-md-margin();
    }
  }
}

@media (max-width: 700px) {
  main {
    .margin {
      @include media-sm-margin();

      section {
        border: none;
      }
    }
  }
}


/********** footer **********/
footer {
  width: 100%;
  background-color: $color-white-normal;
  transition: $transition;

  .nameWrapper {
    width: 100%;
    @include media-lg-margin();

    .name {
      transition: $transition;
      width: 100%;
      @include media-lg-padding();
      @include border();
      border-width: 0 1px 1px 1px;

      img {
        width: 100%;
      }
    }

    .fullname {
      border-width: 1px;
    }

    .firstname {
      padding-bottom: 0;
      display: grid;
      align-items: end;
      border-bottom: none
    }
  }

  .copyrightWrapper {
    width: 100%;
    @include media-lg-margin();
    @include border();
    border-width: 1px 0 0 0;

    .copyright {
      width: 100%;
      padding: $padding-pc-xs $padding-pc-md;
      @include border();
      border-width: 0 1px 0 1px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        width: 36px;
        height: 36px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      p {
        @include textstyle-pr-sm-14();

      }
    }
  }
}

@media (max-width: 1200px) {
  footer {
    .nameWrapper {
      @include media-md-margin();

      .name {
        padding: $padding-pc-sm;
      }

      .firstname {
        padding-bottom: 0;
        display: grid;
        align-items: end;
      }
    }

    .copyrightWrapper {
      @include media-md-margin();
    }
  }
}

@media (max-width: 700px) {
  footer {
    .nameWrapper {
      @include media-sm-margin();

      .name {
        border-left: none;
        border-right: none;
      }
    }

    .copyrightWrapper {
      display: none;
    }
  }
}