@use "./base" as *;

/********** header **********/
header {
  position: fixed;
  top: 0;
  z-index: 9999;
  @include media-lg-margin();
  background-color: $color-white-normal;
  @include border;
  border-width: 0 0 1px 0;
  @include transition-normal();
  overflow: hidden;

  nav {
    overflow: hidden;
    width: 100%;
    padding: $padding-pc-xs $padding-pc-md;
    background-color: $color-white-normal;
    display: flex;
    justify-content: space-between;
    @include border;
    border-width: 0 1px 0 1px;
    @include transition-normal();

    h1 {
      a {
        height: 36px;
        width: 36px;

        img {
          width: 100%;
        }
      }
    }

    .gnb {
      display: flex;
      gap: $padding-pc-xs;

      .ghostbtn {
        @include ghost-btn();
      }

      .normalbtn {
        @include noraml-btn();
      }

    }
  }
}

@media (max-width: 1200px) {
  header {
    @include media-md-margin();

    nav {
      padding: $padding-pc-xs $padding-pc-sm;
    }
  }
}

@media (max-width: 700px) {
  header {
    @include media-sm-margin();

    nav {
      border: none;
    }
  }
}


/********** main **********/
main {
  background-color: $color-white-normal;

  .margin {
    @include media-lg-margin();
    padding-top: 73px;
    @include transition-normal();

    section {
      @include border();
      border-width: 0 1px 0 1px;
      @include transition-normal();
      overflow: hidden;

      .slider {
        overflow: hidden;
        @include border();
        border-width: 0 0 1px 0;
        padding: $padding-pc-md 0;
        display: grid;
        grid-template-columns: 150px 1fr 150px;
        position: relative;

        .slider_gradient {
          z-index: 2;
          width: 150px;
          height: 50px;
          align-self: center;
          grid-row: 1 / 2;
        }

        .slider_gradient1 {
          grid-column: 1 / 2;
          justify-content: start;
          background: linear-gradient(to right, $color-white-normal, $color-white-alpha00);
        }

        .slider_gradient2 {
          grid-column: 3 / 4;
          justify-content: end;
          background: linear-gradient(to left, $color-white-normal, $color-white-alpha00);
        }

        .slider_aera {
          grid-column: 1 / 4;
          grid-row: 1 / 2;
          overflow: hidden;
          align-self: center;
          justify-self: center;
          width: 100%;
          display: flex;
          gap: $padding-mo-xl;

          .slider_wrapper {
            display: flex;
            gap: $padding-mo-xl;
            height: 50px;
            flex-shrink: 0;
            animation: slideMove 25s linear infinite;

            li {
              flex-shrink: 0;
            }

            img {
              height: 100%;
              display: block;
            }
          }
        }
      }

      .article_title {
        @include media-lg-padding();
        display: flex;
        justify-content: space-between;
        overflow: hidden;

        h3 {
          @include textstyle-pr-lg-32();
        }

        a {
          display: flex;
          gap: $padding-pc-xxs;
          align-items: center;
          @include textstyle-pr-sm-18();
          @include transition-normal();

          img {
            @include iconSpinRe();
          }

          &:hover {
            img {
              @include iconSpin();
            }
          }


        }
      }
    }

    #work {
      @include border();
      border-width: 0 1px 0 1px;

      .work_wrapper {
        padding: 0 $padding-pc-md $padding-pc-md $padding-pc-md;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        grid-auto-flow: row;
        gap: $padding-pc-sm;

        .work_item {
          width: 100%;

          a {
            overflow: hidden;
            width: 100%;
            aspect-ratio: 6 / 4;
            display: grid;
            @include transition-fast();

            .hover_dim {
              width: 100%;
              height: auto;
              z-index: 999;
              grid-column: 1 / 2;
              grid-row: 1 / 2;
              background-color: $color-primary-alpha80;
              backdrop-filter: blur(2px);
              padding: $padding-pc-xs;
              -webkit-backdrop-filter: blur(2px);
              @include transition-fast();
              transform: translateX(-100%);
              opacity: 0;

              .contents {
                aspect-ratio: 6 / 4;
                padding: $padding-pc-sm $padding-pc-sm 0 $padding-pc-sm;
                color: $color-white-normal;
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .information {
                  h6 {
                    @include textstyle-pr-lg-24();
                    color: inherit;
                    margin-bottom: $padding-mo-xs;
                  }

                  div {
                    @include textstyle-pr-sm-16();
                    color: inherit;
                  }
                }

                .view_btn {
                  width: 100%;
                  display: flex;
                  align-self: center;
                  justify-content: space-between;
                  @include textstyle-pr-sm-16();
                  color: inherit;
                  padding: $padding-pc-sm 0 $padding-pc-sm 0;

                  svg {
                    @include iconSpinRe();

                    path {
                      fill: $color-white-normal;
                    }
                  }
                }
              }
            }

            .workitem_img {
              grid-column: 1 / 2;
              grid-row: 1 / 2;
              display: grid;
              align-items: center;
              justify-content: center;

              img {
                width: 100%;
              }
            }

            &:hover {
              .hover_dim {
                opacity: 1;
                transform: translateX(0);

                .view_btn {
                  &:hover {
                    svg {
                      @include iconSpin();
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    #contact {
      overflow: hidden;
  
      .contact_warpper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @include border();
        border-width: 0 0 1px 0;
  
        .contact_message {
          @include media-lg-padding();
          display: grid;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          @include border();
          border-width: 0 1px 0 0;
  
          .header {
            display: flex;
            justify-content: space-between;
            align-items: start;
  
            .text {
              h6 {
                @include textstyle-pr-xl-24();
                margin-bottom: $padding-pc-xs;
              }
  
              p {
                @include textstyle-pr-sm-16();
                line-height: 150%;
              }
            }
  
            img {
              transform: rotate(180deg);
              width: 100px;
              height: auto;
            }
          }
        }
  
        .link_wrapper {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          @include media-lg-padding();
          gap: $padding-pc-md;
  
          .link_contents {
            .title {
              @include textstyle-pr-xl-24();
              margin-bottom: $padding-pc-sm;
            }
  
            .list_wrapper {
              display: flex;
              flex-direction: column;
              gap: $padding-pc-xs;
  
              a {
                width: 100%;
                display: flex;
                justify-content: space-between;
                border-bottom: 1px dashed $color-primary-normal;
                @include textstyle-pr-sm-16();
                padding: $padding-mo-xs $padding-mo-xs $padding-mo-xs $padding-mo-xxs;
                @include transition-fast();
                position: relative;
  
                &::before {
                  content: "";
                  position: absolute;
                  top: 0;
                  left: 0;
                  background-color: $color-primary-normal;
                  width: 0;
                  height: 100%;
                  @include transition-fast();
                  transition: 0.1s;
                  z-index: -99;
                }
                
                svg {
                  @include iconSpinRe();
                  path {
                  }
                }
  
                &:hover {
                  padding: $padding-mo-xs $padding-mo-xs $padding-mo-xs $padding-mo-sm;
                  background-color: $color-primary-normal;
                  color: $color-white-normal;
  
                  &::before {
                    content: "";
                    width: 100%;
                  }
  
                  svg {
                    @include iconSpin();
                    path {
                      fill: $color-white-normal;
                    }
                  }
                }
              }
            }
          }
  
          img {
            grid-column: 1 / -1;
            justify-self: end;
          }
        }
      }
  
      .sns {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
  
        .email {
          padding: 0 $padding-pc-md 0 $padding-pc-md;
          @include border();
          border-width: 0 1px 0 0;
          display: grid;
          align-items: center;
  
          button {
            border: none;
            background-color: $color-white-normal;
            text-align: left;
            @include textstyle-pr-lg-20();
            position: relative;
            cursor: pointer;
  
            .tooltip {
              position: absolute;
              left: 200px;
              top: 10px;
              background-color: $color-primary-normal;
              @include textstyle-pr-sm-14();
              color: $color-white-normal;
              white-space: nowrap;
              padding: 6px 12px 6px 12px;
              border-radius: 999px;
              opacity: 0;
              @include transition-normal();
              
              &::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
                border-width: 6px;
                border-style: solid;
                border-color: $color-primary-normal transparent transparent transparent;
                @include transition-normal();
              }
              
              &.active {
                background-color: #008355;
                &::after {
                  content: "";
                  position: absolute;
                  top: 100%;
                  left: 50%;
                  transform: translateX(-50%);
                  border-width: 6px;
                  border-style: solid;
                  border-color: #008355 transparent transparent transparent;
                }
                
              }
            }
  
            &:hover {
              .tooltip {
                opacity: 1;
                top: -4px;
              }
            }
          }
  
        }
  
        .snsicon {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          
          li {
            width: 100%;
            
            a {
              width: 100%;
              display: grid;
              align-items: center;
              justify-content: center;
              @include media-lg-padding();
              @include border();
              border-width: 0 1px 0 0;
              color: $color-primary-normal;
              @include transition-fast();
  
              svg {
                width: auto;
                height: 50px;
                display: block;
              }
  
            }
  
            &:last-child {
              a {
                border-right: none;
              }
            }
  
            &:hover {
              background-color: $color-primary-normal;
  
              a {
                color: $color-white-normal;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  main {
    .margin {
      @include media-md-margin();
    }
  }
}

@media (max-width: 700px) {
  main {
    .margin {
      @include media-sm-margin();

      section {
        border: none;
      }
    }
  }
}


/********** footer **********/
footer {
  width: 100%;
  background-color: $color-white-normal;
  @include transition-normal();
  overflow: visible;

  .nameWrapper {
    width: 100%;
    @include media-lg-margin();

    .name {
      @include transition-normal();
      width: 100%;
      @include media-lg-padding();
      @include border();
      border-width: 0 1px 1px 1px;

      img {
        width: 100%;
        height: auto;
        object-fit: contain;
        // display: block;
      }
    }

    .fullname {
      border-width: 1px;
    }

    .firstname {
      padding-bottom: 0;
      display: flex; // grid → flex
      align-items: flex-end; // end 유지
      border-bottom: none;
    }
  }

  .copyrightWrapper {
    width: 100%;
    @include media-lg-margin();
    @include border();
    border-width: 1px 0 0 0;

    .copyright {
      width: 100%;
      padding: $padding-pc-xs $padding-pc-md;
      @include border();
      border-width: 0 1px 0 1px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        width: 36px;
        height: 36px;

        img {
          height: 100%;
        }
      }

      p {
        @include textstyle-pr-sm-14();
      }
    }
  }
}

@media (max-width: 1200px) {
  footer {
    .nameWrapper {
      @include media-md-margin();

      .name {
        padding: $padding-pc-sm;
      }

      .firstname {
        padding-bottom: 0;
        display: grid;
        align-items: end;
      }
    }

    .copyrightWrapper {
      @include media-md-margin();
    }
  }
}

@media (max-width: 700px) {
  footer {
    .nameWrapper {
      @include media-sm-margin();

      .name {
        border-left: none;
        border-right: none;
      }
    }

    .copyrightWrapper {
      display: none;
    }
  }
}