/***** font *****/
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/***** color *****/
/***** txet style *****/
/***** font-weight-xl *****/
/***** font-weight-lg *****/
/***** font-weight-md *****/
/***** font-weight-sm *****/
/***** font-weight-sm *****/
/***** padding *****/
/***** radius *****/
/****** transition ******/
/***** btn *****/
/***** border *****/
/***** animation *****/
@keyframes slideMove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10%);
  }
}
main .margin {
  /********** sec01 - about **********/
  /********** sec02 - work **********/
  /********** sec03 - skill **********/
  /********** sec04 - contact **********/
}
main .margin #about {
  overflow: hidden;
}
main .margin #about .video {
  width: 100%;
  aspect-ratio: 3/1.2;
  border-style: solid;
  border-color: #F56242;
  border-width: 0 0 1px 0;
}
main .margin #about .beliefs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-style: solid;
  border-color: #F56242;
  border-width: 0 0 1px 0;
}
main .margin #about .beliefs .arrowimg {
  width: 100%;
  padding: 32px;
  align-self: center;
  justify-self: center;
}
main .margin #about .beliefs .arrowimg img {
  width: 100%;
}
main .margin #about .beliefs .beliefs_contents {
  width: 100%;
  padding: 32px;
  border-style: solid;
  border-color: #F56242;
  border-width: 0 0 0 1px;
  grid-column: 2/5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  overflow: hidden;
}
main .margin #about .beliefs .beliefs_contents .icon_crros {
  display: flex;
  justify-content: space-between;
}
main .margin #about .beliefs .beliefs_contents .beliefs_text {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  line-height: 1.4;
  font-size: 4.5rem;
  font-weight: 800;
  color: #F56242;
  font-style: normal;
  line-height: 120%;
  padding: 0 32px 0 32px;
}
main .margin #about .introduction {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 60px 60px 1fr 60px 60px;
  background-color: #F56242;
  width: 100%;
  padding: 32px;
  overflow: hidden;
}
main .margin #about .introduction .marksimg {
  grid-column: 1/2;
  grid-row: 3/4;
  align-self: start;
  justify-self: end;
  color: #FBF6F3;
}
main .margin #about .introduction .marksimg svg {
  width: 140px;
  height: auto;
  display: block;
}
main .margin #about .introduction h5 {
  grid-column: 2/5;
  grid-row: 3/4;
  align-self: center;
  padding-left: 32px;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  line-height: 1.4;
  font-size: 2rem;
  font-weight: 700;
  color: #F56242;
  font-style: normal;
  color: #FBF6F3;
  line-height: 144%;
}
main .margin #work {
  overflow: hidden;
  border-style: solid;
  border-color: #F56242;
  border-width: 0 1px 1px 1px;
}
main .margin #work .work_wrapper > *:nth-child(n+7) {
  display: none;
}
main .margin #skill {
  overflow: hidden;
  border-style: solid;
  border-color: #F56242;
  border-width: 0 1px 1px 1px;
}
main .margin #skill .article_title {
  border-style: solid;
  border-color: #F56242;
  border-width: 0 0 1px 0;
}
main .margin #skill .skill_wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
main .margin #skill .skill_wrapper .null {
  grid-column: 1;
  grid-row: 1/7;
  border-style: solid;
  border-color: #F56242;
  border-width: 0 1px 0 0;
}
main .margin #skill .skill_wrapper .skill_item {
  grid-column: 2;
  width: 100%;
  padding: 32px;
  border-style: solid;
  border-color: #F56242;
  border-width: 0 0 1px 0;
  overflow: hidden;
  transition: all 1s ease-in-out;
}
main .margin #skill .skill_wrapper .skill_item .header_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .margin #skill .skill_wrapper .skill_item .header_area .title {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  line-height: 1.4;
  font-size: 1.25rem;
  font-weight: 800;
  color: #F56242;
  font-style: normal;
}
main .margin #skill .skill_wrapper .skill_item .header_area img {
  transition: all 0.35s ease-in-out;
  transform: rotate(0);
}
main .margin #skill .skill_wrapper .skill_item .contents {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 500;
  color: #F56242;
  font-style: normal;
  line-height: 150%;
  max-height: 0;
  opacity: 1;
  overflow: hidden;
  transform: translateY(-10px);
  transition: all 0.5s ease-in-out;
}
main .margin #skill .skill_wrapper .skill_item.active .contents {
  margin-top: 24px;
  max-height: 400px;
  transform: translateY(0);
}
main .margin #skill .skill_wrapper .skill_item.active .header_area img {
  transform-origin: center center;
  transform: rotate(405deg);
}
main .margin #skill .skill_wrapper .skill_item:hover .contents {
  margin-top: 24px;
  max-height: 400px;
  opacity: 1;
  transform: translateY(0);
}
main .margin #skill .skill_wrapper .skill_item:hover .header_area img {
  transform-origin: center center;
  transform: rotate(405deg);
}
main .margin #skill .skill_wrapper .skill_item:last-child {
  border-bottom: none;
}/*# sourceMappingURL=index.css.map */