@use 'variables' as *;
@use 'global' as *;

main {

  /********** sec01 - about **********/
  #about {
    .video {
      width: 100%;
      aspect-ratio: 3 / 1.2;
      @include border();
      border-width: 0 0 1px 0;
    }

    .beliefs {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      @include border();
      border-width: 0 0 1px 0;

      .arrowimg {
        @include media-lg-padding();
        align-self: center;
        justify-self: center;

        img {
          width: 100%;
        }
      }

      .beliefs_contents {
        @include media-lg-padding();
        @include border();
        border-width: 0 0 0 1px;
        grid-column: 2 / 5;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: $padding-mo-md;

        .icon_crros {
          display: flex;
          justify-content: space-between;
        }

        .beliefs_text {
          @include textstyle-bit-56()
        }
      }
    }

    .introduction {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: $padding-mo-xl 1fr $padding-mo-xl;
      background-color: $color-primary-normal;
      @include media-lg-padding();
      overflow: hidden;

      .marksimg {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        align-self: start;
        justify-self: end;
      }

      h5 {
        grid-column: 2 / 5;
        grid-row: 2 / 3;
        align-self: center;
        padding-left: $padding-pc-md;
        @include textstyle-pr-md-20();
        color: $color-white-normal;
        line-height: 150%;

        span {
          display: block;
          @include textstyle-bit-32();
          color: $color-white-normal;
          padding-bottom: $padding-pc-xs;
        }
      }
    }
  }


  /********** sec02 - work **********/
  #work {}


  /********** sec03 - skill **********/
  #skill {
    @include border();
    border-width: 0 1px 1px 1px;
    .article_title {
      @include border();
      border-width: 0 0 1px 0;
    }
    .skill_wrapper {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 3fr;

      .null {
        grid-column: 1;
        grid-row: 1 / 7;
        @include border();
        border-width: 0 1px 0 0;
      }
      
      .skill_item {
        grid-column: 2;
        @include media-lg-padding();
        @include border();
        border-width: 0 0 1px 0;
        
        .header_area {
          display: flex;
          justify-content: space-between;

          .title {
            @include textstyle-bit-20();
          }
        }

        .contents {
          @include textstyle-pr-sm-16();
          line-height: 150%;
          margin-top: $padding-pc-sm;
          display: none;
        }
        &:last-child {
          border-bottom: none; 
        }
      }
    }
  }


  /********** sec04 - contact **********/
  #contact {
    .contact_warpper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      @include border();
      border-width: 0 0 1px 0;

      .contact_message {
        @include media-lg-padding();
        display: grid;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include border();
        border-width: 0 1px 0 0;

        .header {
          display: flex;
          justify-content: space-between;
          align-items: start;

          .text {
            h6 {
              @include textstyle-bit-24();
              margin-bottom: $padding-pc-sm;
            }
            p {
              @include textstyle-pr-sm-16();
              line-height: 150%;
            }
          }

          img {
            transform: rotate(90deg);
            width: 80px;
          }
        }
      }

      .link_wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @include media-lg-padding();
        gap: $padding-pc-md;

        .link_contents {
          .title {
            @include textstyle-bit-20();
            margin-bottom: $padding-pc-sm;
          }

          .list_wrapper {
            display: flex;
            flex-direction: column;
            gap: $padding-pc-xs;
            a {
              width: 100%;
              display: flex;
              justify-content: space-between;
              border-bottom: 1px dashed $color-primary-normal;
              @include textstyle-pr-sm-18();
              padding: $padding-mo-xs $padding-mo-xxs $padding-mo-xs $padding-mo-xxs;
            }
          }
        }
        img {
          grid-column: 1 / -1;
          justify-self: end;
        }
      }
    }

    .sns {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .email {
        @include media-lg-padding();
        @include textstyle-bit-20();
        line-height: 140%;
        @include border();
        border-width: 0 1px 0 0;
      }

      .snsicon {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        li {
          width: 100%;
          a {
            width: 100%;
            display: grid;
            align-items: center;
            justify-content: center;
            @include media-lg-padding();
            @include border();
            border-width: 0 1px 0 0;

            img {
              height: 56px;
            }

          }

          &:last-child {
            a {
              border-right: none;
            }
          }

          &:hover {
            background-color: $color-primary-normal;
          }
        }
      }
    }
  }
}