/***** font *****/
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@font-face {
  font-family: "DNFBitBitv2";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf") format("opentype");
}
body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/***** color *****/
/***** txet style *****/
/***** padding *****/
/***** radius *****/
/****** transition ******/
/***** btn *****/
/***** border *****/
/***** animation *****/
main {
  /********** sec01 - about **********/
  /********** sec02 - work **********/
  /********** sec03 - skill **********/
  /********** sec04 - contact **********/
}
main #about .video {
  width: 100%;
  aspect-ratio: 3/1.5;
  border-style: solid;
  border-color: #F56242;
  border-width: 0 0 1px 0;
}
main #about .beliefs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-style: solid;
  border-color: #F56242;
  border-width: 0 0 1px 0;
}
main #about .beliefs .arrowimg {
  width: 100%;
  padding: 32px;
  align-self: center;
  justify-self: center;
}
main #about .beliefs .arrowimg img {
  width: 100%;
}
main #about .beliefs .beliefs_contents {
  width: 100%;
  padding: 32px;
  border-style: solid;
  border-color: #F56242;
  border-width: 0 0 0 1px;
  grid-column: 2/5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
main #about .beliefs .beliefs_contents .icon_crros {
  display: flex;
  justify-content: space-between;
}
main #about .beliefs .beliefs_contents .beliefs_text {
  font-family: "DNFBitBitv2", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  line-height: 1.4;
  font-size: 3.5rem;
  font-weight: normal;
  color: #F56242;
}
main #about .introduction {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: #F56242;
  width: 100%;
  padding: 32px;
}
main #about .introduction .marksimg {
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: start;
  justify-self: end;
}
main #about .introduction h5 {
  grid-column: 2/5;
  grid-row: 1/4;
  align-self: center;
  padding-left: 32px;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  line-height: 1.4;
  font-size: 1.125rem;
  font-weight: 700;
  color: #F56242;
  color: #FBF6F3;
  line-height: 150%;
}
main #about .introduction h5 span {
  display: block;
  font-family: "DNFBitBitv2", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  line-height: 1.4;
  font-size: 2rem;
  font-weight: normal;
  color: #F56242;
  color: #FBF6F3;
  padding-bottom: 18px;
}
main #skill {
  border-style: solid;
  border-color: #F56242;
  border-width: 0 1px 1px 1px;
}
main #skill .article_title {
  border-style: solid;
  border-color: #F56242;
  border-width: 0 0 1px 0;
}
main #skill .skill_wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
main #skill .skill_wrapper .null {
  grid-column: 1;
  grid-row: 1/7;
  border-style: solid;
  border-color: #F56242;
  border-width: 0 1px 0 0;
}
main #skill .skill_wrapper .skill_item {
  grid-column: 2;
  width: 100%;
  padding: 32px;
  border-style: solid;
  border-color: #F56242;
  border-width: 0 0 1px 0;
}
main #skill .skill_wrapper .skill_item .header_area {
  display: flex;
  justify-content: space-between;
}
main #skill .skill_wrapper .skill_item .header_area .title {
  font-family: "DNFBitBitv2", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  line-height: 1.4;
  font-size: 1.25rem;
  font-weight: normal;
  color: #F56242;
}
main #skill .skill_wrapper .skill_item .contents {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 500;
  color: #F56242;
  line-height: 150%;
  margin-top: 24px;
  display: none;
}
main #skill .skill_wrapper .skill_item:last-child {
  border-bottom: none;
}
main #contact .contact_warpper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-style: solid;
  border-color: #F56242;
  border-width: 0 0 1px 0;
}
main #contact .contact_warpper .contact_message {
  width: 100%;
  padding: 32px;
  display: grid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-style: solid;
  border-color: #F56242;
  border-width: 0 1px 0 0;
}
main #contact .contact_warpper .contact_message .header {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
main #contact .contact_warpper .contact_message .header .text h6 {
  font-family: "DNFBitBitv2", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  line-height: 1.4;
  font-size: 1.5rem;
  font-weight: normal;
  color: #F56242;
  margin-bottom: 24px;
}
main #contact .contact_warpper .contact_message .header .text p {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 500;
  color: #F56242;
  line-height: 150%;
}
main #contact .contact_warpper .contact_message .header img {
  transform: rotate(90deg);
  width: 80px;
}
main #contact .contact_warpper .link_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  padding: 32px;
  gap: 32px;
}
main #contact .contact_warpper .link_wrapper .link_contents .title {
  font-family: "DNFBitBitv2", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  line-height: 1.4;
  font-size: 1.25rem;
  font-weight: normal;
  color: #F56242;
  margin-bottom: 24px;
}
main #contact .contact_warpper .link_wrapper .link_contents .list_wrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
main #contact .contact_warpper .link_wrapper .link_contents .list_wrapper a {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed #F56242;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  line-height: 1.4;
  font-size: 1.125rem;
  font-weight: 500;
  color: #F56242;
  padding: 8px 4px 8px 4px;
}
main #contact .contact_warpper .link_wrapper img {
  grid-column: 1/-1;
  justify-self: end;
}
main #contact .sns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
main #contact .sns .email {
  width: 100%;
  padding: 32px;
  font-family: "DNFBitBitv2", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  line-height: 1.4;
  font-size: 1.25rem;
  font-weight: normal;
  color: #F56242;
  line-height: 140%;
  border-style: solid;
  border-color: #F56242;
  border-width: 0 1px 0 0;
}
main #contact .sns .snsicon {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main #contact .sns .snsicon li {
  width: 100%;
}
main #contact .sns .snsicon li a {
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 32px;
  border-style: solid;
  border-color: #F56242;
  border-width: 0 1px 0 0;
}
main #contact .sns .snsicon li a img {
  height: 56px;
}
main #contact .sns .snsicon li:last-child a {
  border-right: none;
}
main #contact .sns .snsicon li:hover {
  background-color: #F56242;
}/*# sourceMappingURL=index.css.map */