@use "./base" as *; 

main {
  .margin {
    /********** sec01 - about **********/
    #about {
      overflow: hidden;
  
      .video {
        width: 100%;
        aspect-ratio: 16 / 8.5;
        @include border();
        border-width: 0 0 1px 0;

          video {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
      }
  
      .beliefs {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        @include border();
        border-width: 0 0 1px 0;
        overflow: hidden;
  
        .arrowimg {
          @include media-lg-padding();
          align-self: center;
          justify-self: center;
  
          img {
            width: 100%;
          }
        }
  
        .beliefs_contents {
          @include media-lg-padding();
          @include border();
          border-width: 0 0 0 1px;
          grid-column: 2 / 5;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: $padding-mo-md;
          overflow: hidden;
  
          .icon_crros {
            display: flex;
            justify-content: space-between;
          }
  
          .beliefs_text {
            @include textstyle-pr-lg-72();
            line-height: 120%;
            padding: 0 $padding-pc-md 0 $padding-pc-md;
          }
        }
      }
  
      .introduction {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: $padding-pc-xl 1fr $padding-pc-xl;
        background-color: $color-primary-normal;
        padding:  $padding-mo-xl $padding-mo-xl $padding-mo-xl $padding-pc-md;
        overflow: hidden;
  
        .marksimg {
          grid-column: 1 / 2;
          grid-row: 1 / 3;
          align-self: start;
          justify-self: end;
          color: $color-white-normal;
          margin-right: $padding-pc-lg;
  
          svg {
            width: 140px;
            height: auto;
            display: block;
          }
        }
        .textWrapper {
          grid-column: 2 / 3;
          grid-row: 2 / 3;
          align-self: center;
          padding-left: $padding-pc-md;
          p {
            @include textstyle-pr-sm-24();
            color: $color-white-normal;
            line-height: 165%;
          }

          h5 {
            @include textstyle-pr-lg-36();
            color: $color-white-normal;
            margin-bottom: $padding-pc-md;
            display: block;

          }
        }
      }
    }
  
  
    /********** sec02 - work **********/
    #work {
      overflow: hidden;
      @include border();
      border-width: 0 1px 1px 1px;

      .work_wrapper {
        > *:nth-child(n+7) {
          display: none;
        }
      }
    }
  
  
    /********** sec03 - skill **********/
    #skill {
      overflow: hidden;
      @include border();
      border-width: 0 1px 1px 1px;
  
      .article_title {
        @include border();
        border-width: 0 0 1px 0;
      }
  
      .skill_wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 3fr;
  
        .null {
          grid-column: 1;
          grid-row: 1 / 7;
          @include border();
          border-width: 0 1px 0 0;
        }
  
        .skill_item {
          grid-column: 2;
          @include media-lg-padding();
          @include border();
          border-width: 0 0 1px 0;
          overflow: hidden;
          cursor: pointer;
        
          .header_area {
            display: flex;
            justify-content: space-between;
            align-items: center;
        
            .title {
              @include textstyle-pr-lg-20();
            }
  
            img {
              @include iconSpinRe();
            }
          }
        
          .contents {
            @include textstyle-pr-sm-16();
            line-height: 160%;
            max-height: 0;
            overflow: hidden;
            @include transition-slow();
          }
        
          &.active {
            .contents {
              margin-top: $padding-pc-sm;
              max-height: 400px;
            }
          }

          &:hover {
        
            .header_area {
              img {
                @include iconSpin();
              }
            }
          }
  
          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  
  
    /********** sec04 - contact **********/
     #contact {}
  } 
}