/***** font *****/
// 던파 비트체 
@font-face {
  font-family: 'DNFBitBitv2';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf')format('opentype')
}

// pretendard
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/***** color *****/
$color-primary-dark : #DE300D;
$color-primary-normal : #F56242;
$color-primary-light : #F7917D;
$color-primary-alpha80 : rgba(245, 99, 66, 0.8);
$color-primary-alpha50 : rgba(245, 99, 66, 0.5);
$color-primary-alpha20 : rgba(245, 99, 66, 0.2);

$color-white-normal : #FBF6F3;
$color-white-alpha80 : rgba(251, 246, 243, 0.8);
$color-white-alpha50 : rgba(251, 246, 243, 0.5);
$color-white-alpha20 : rgba(251, 246, 243, 0.2);
$color-white-alpha00 : rgba(251, 246, 243, 0);

$color-black-normal : #111210;
$color-black-darkmode : #303131;
$color-black-alpha80 : rgba(17, 18, 16, 0.8);
$color-black-alpha50 : rgba(17, 18, 16, 0.5);
$color-black-alpha20 : rgba(17, 18, 16, 0.2);



/***** txet style *****/
$font-dntbit : 'DNFBitBitv2',
-apple-system,
BlinkMacSystemFont,
system-ui,
Roboto,
"Helvetica Neue",
"Segoe UI",
"Apple SD Gothic Neo",
"Noto Sans KR",
"Malgun Gothic",
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
sans-serif;

$font-pretendard : "Pretendard Variable",
Pretendard,
-apple-system,
BlinkMacSystemFont,
system-ui,
Roboto,
"Helvetica Neue",
"Segoe UI",
"Apple SD Gothic Neo",
"Noto Sans KR",
"Malgun Gothic",
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
sans-serif;

$line-height : 1.4;

$font-weight-sm : 500;
$font-weight-md : 700;
$font-weight-lg : 800;
$font-weight-xl : 900;

$font-size-72 : 4.5rem;
$font-size-56 : 3.5rem;
$font-size-36 : 2.25rem;
$font-size-32 : 2rem;
$font-size-24 : 1.5rem;
$font-size-20 : 1.25rem;
$font-size-18 : 1.125rem;
$font-size-16 : 1rem;
$font-size-14 : 0.875rem;

@mixin textstyle-bit-56 {
  font-family: $font-dntbit;
  line-height: $line-height;
  font-size: $font-size-56;
  font-weight: normal;
  color: $color-primary-normal;
}

@mixin textstyle-bit-32 {
  font-family: $font-dntbit;
  line-height: $line-height;
  font-size: $font-size-32;
  font-weight: normal;
  color: $color-primary-normal;
}

@mixin textstyle-bit-24 {
  font-family: $font-dntbit;
  line-height: $line-height;
  font-size: $font-size-24;
  font-weight: normal;
  color: $color-primary-normal;
}

@mixin textstyle-bit-20 {
  font-family: $font-dntbit;
  line-height: $line-height;
  font-size: $font-size-20;
  font-weight: normal;
  color: $color-primary-normal;
}

@mixin textstyle-bit-18 {
  font-family: $font-dntbit;
  line-height: $line-height;
  font-size: $font-size-18;
  font-weight: normal;
  color: $color-primary-normal;
}

/***** font-weight-xl *****/
@mixin textstyle-pr-xl-36 {
  font-family: $font-pretendard;
  line-height: $line-height;
  font-size: $font-size-36;
  font-weight: $font-weight-xl;
  color: $color-primary-normal;
}

@mixin textstyle-pr-xl-24 {
  font-family: $font-pretendard;
  line-height: $line-height;
  font-size: $font-size-24;
  font-weight: $font-weight-xl;
  color: $color-primary-normal;
}


/***** font-weight-lg *****/
@mixin textstyle-pr-lg-72 {
  font-family: $font-pretendard;
  line-height: $line-height;
  font-size: $font-size-72;
  font-weight: $font-weight-lg;
  color: $color-primary-normal;
}

@mixin textstyle-pr-lg-24 {
  font-family: $font-pretendard;
  line-height: $line-height;
  font-size: $font-size-24;
  font-weight: $font-weight-lg;
  color: $color-primary-normal;
}

@mixin textstyle-pr-lg-20 {
  font-family: $font-pretendard;
  line-height: $line-height;
  font-size: $font-size-20;
  font-weight: $font-weight-lg;
  color: $color-primary-normal;
}


/***** font-weight-md *****/
@mixin textstyle-pr-md-36 {
  font-family: $font-pretendard;
  line-height: $line-height;
  font-size: $font-size-36;
  font-weight: $font-weight-md;
  color: $color-primary-normal;
}

@mixin textstyle-pr-md-32 {
  font-family: $font-pretendard;
  line-height: $line-height;
  font-size: $font-size-32;
  font-weight: $font-weight-md;
  color: $color-primary-normal;
}

@mixin textstyle-pr-md-20 {
  font-family: $font-pretendard;
  line-height: $line-height;
  font-size: $font-size-20;
  font-weight: $font-weight-md;
  color: $color-primary-normal;
}

@mixin textstyle-pr-md-18 {
  font-family: $font-pretendard;
  line-height: $line-height;
  font-size: $font-size-18;
  font-weight: $font-weight-md;
  color: $color-primary-normal;
}

@mixin textstyle-pr-md-16 {
  font-family: $font-pretendard;
  line-height: $line-height;
  font-size: $font-size-16;
  font-weight: $font-weight-md;
  color: $color-primary-normal;
}


/***** font-weight-sm *****/
@mixin textstyle-pr-sm-18 {
  font-family: $font-pretendard;
  line-height: $line-height;
  font-size: $font-size-18;
  font-weight: $font-weight-sm;
  color: $color-primary-normal;
}

@mixin textstyle-pr-sm-16 {
  font-family: $font-pretendard;
  line-height: $line-height;
  font-size: $font-size-16;
  font-weight: $font-weight-sm;
  color: $color-primary-normal;
}

@mixin textstyle-pr-sm-14 {
  font-family: $font-pretendard;
  line-height: $line-height;
  font-size: $font-size-14;
  font-weight: $font-weight-sm;
  color: $color-primary-normal;
}

/***** padding *****/
$padding-pc-lg : 36px;
$padding-pc-md : 32px;
$padding-pc-sm : 24px;
$padding-pc-xs : 18px;
$padding-pc-xxs : 4px;

$padding-mo-xl : 60px;
$padding-mo-lg : 40px;
$padding-mo-md : 20px;
$padding-mo-sm : 12px;
$padding-mo-xs : 8px;
$padding-mo-xxs : 4px;

@mixin media-lg-margin {
  width: 100%;
  padding: 0 $padding-pc-md;
}

@mixin media-lg-padding {
  width: 100%;
  padding: $padding-pc-md;
}

@mixin media-md-margin {
  width: 100%;
  padding: 0 $padding-pc-sm;
}

@mixin media-md-padding {
  width: 100%;
  padding: $padding-pc-sm;
}

@mixin media-sm-margin {
  width: 100%;
  padding: 0;
}

/***** radius *****/
$radius : 999px;

/****** transition ******/
$transition-time-slow : 0.5s;
$transition-time-normal : 0.35s;
$transition-time-fast : 0.2s;
$transition-motion : ease-in-out;

@mixin transition-normal {
  transition: all $transition-time-normal $transition-motion;
}

@mixin transition-slow {
  transition: all $transition-time-slow $transition-motion;
}

@mixin transition-fast {
  transition: all $transition-time-fast $transition-motion;
}

/***** btn *****/
@mixin ghost-btn {
  height: 36px;
  padding: 0 $padding-pc-xs;
  display: grid;
  justify-content: center;
  align-items: center;
  border: $color-white-normal 1px solid;
  @include textstyle-pr-sm-16();
  @include transition-normal();

  &:hover {
    border: $color-primary-normal 1px solid;
    border-radius: $radius;
  }
}

@mixin noraml-btn {
  height: 36px;
  padding: 0 $padding-pc-xs;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: $color-primary-normal;
  border: $color-primary-normal 1px solid;
  border-radius: $radius;
  @include textstyle-pr-sm-16();
  color: $color-white-normal;
  @include transition-normal();

  &:hover {
    border: $color-primary-normal 1px solid;
    background-color: $color-white-normal;
    color: $color-primary-normal;
  }
}

/***** border *****/
@mixin border {
  border-style: solid;
  border-color: $color-primary-normal;
}

/***** animation *****/
@keyframes slideMove {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes iconSpin {
  0% {
    transform: rotate(0deg);
  }

  80% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(405deg);
  }
}

$iconSpin_animation: iconSpin $transition-time-fast ease-in-out forwards;

@mixin iconSpin {
  transform-origin: center center;
  animation: $iconSpin_animation;
}