@use 'variables' as *;
@use 'mixins' as *;

/***** keyframes *****/
@keyframes slideMove {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

/***** icon spin *****/
@mixin iconSpin {
  transform-origin: center center;
  transform: rotate(405deg);
}

@mixin iconSpinRe {
  transform: rotate(0);
  transition: all $transition-time-normal $transition-motion;
}