@use 'variables' as *;
@use 'mixins' as *;

/***** font import *****/
@font-face {
  font-family: 'DNFBitBitv2';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf') format('opentype');
}

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/***** body 기본 스타일 *****/
body {
  font-family: $font-pretendard;
  line-height: $line-height;
  color: $color-black-normal;
  background-color: $color-white-normal;
}

/***** text style *****/
@mixin textstyle($family, $size, $weight, $color: $color-primary-normal) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  color: $color;
}

/***** mixin *****/
@mixin textstyle-bit-56 {
  font-family: $font-dntbit;
  line-height: $line-height;
  font-size: $font-size-56;
  font-weight: normal;
  color: $color-primary-normal;
}

@mixin textstyle-bit-32 {
  font-family: $font-dntbit;
  line-height: $line-height;
  font-size: $font-size-32;
  font-weight: normal;
  color: $color-primary-normal;
}

@mixin textstyle-bit-24 {
  font-family: $font-dntbit;
  line-height: $line-height;
  font-size: $font-size-24;
  font-weight: normal;
  color: $color-primary-normal;
}

@mixin textstyle-bit-20 {
  font-family: $font-dntbit;
  line-height: $line-height;
  font-size: $font-size-20;
  font-weight: normal;
  color: $color-primary-normal;
}

@mixin textstyle-bit-18 {
  font-family: $font-dntbit;
  line-height: $line-height;
  font-size: $font-size-18;
  font-weight: normal;
  color: $color-primary-normal;
}

/***** font-weight-xl *****/
@mixin textstyle-pr-xl-36 {
  font-family: $font-pretendard;
  line-height: $line-height;
  font-size: $font-size-36;
  font-weight: $font-weight-xl;
  color: $color-primary-normal;
}

@mixin textstyle-pr-xl-24 {
  font-family: $font-pretendard;
  line-height: $line-height;
  font-size: $font-size-24;
  font-weight: $font-weight-xl;
  color: $color-primary-normal;
}


/***** font-weight-lg *****/
@mixin textstyle-pr-lg-72 {
  font-family: $font-pretendard;
  line-height: $line-height;
  font-size: $font-size-72;
  font-weight: $font-weight-lg;
  color: $color-primary-normal;
}

@mixin textstyle-pr-lg-32 {
  font-family: $font-pretendard;
  line-height: $line-height;
  font-size: $font-size-32;
  font-weight: $font-weight-lg;
  color: $color-primary-normal;
}

@mixin textstyle-pr-lg-24 {
  font-family: $font-pretendard;
  line-height: $line-height;
  font-size: $font-size-24;
  font-weight: $font-weight-lg;
  color: $color-primary-normal;
}

@mixin textstyle-pr-lg-20 {
  font-family: $font-pretendard;
  line-height: $line-height;
  font-size: $font-size-20;
  font-weight: $font-weight-lg;
  color: $color-primary-normal;
}


/***** font-weight-md *****/
@mixin textstyle-pr-md-36 {
  font-family: $font-pretendard;
  line-height: $line-height;
  font-size: $font-size-36;
  font-weight: $font-weight-md;
  color: $color-primary-normal;
}

@mixin textstyle-pr-md-32 {
  font-family: $font-pretendard;
  line-height: $line-height;
  font-size: $font-size-32;
  font-weight: $font-weight-md;
  color: $color-primary-normal;
}

@mixin textstyle-pr-md-20 {
  font-family: $font-pretendard;
  line-height: $line-height;
  font-size: $font-size-20;
  font-weight: $font-weight-md;
  color: $color-primary-normal;
}

@mixin textstyle-pr-md-18 {
  font-family: $font-pretendard;
  line-height: $line-height;
  font-size: $font-size-18;
  font-weight: $font-weight-md;
  color: $color-primary-normal;
}

@mixin textstyle-pr-md-16 {
  font-family: $font-pretendard;
  line-height: $line-height;
  font-size: $font-size-16;
  font-weight: $font-weight-md;
  color: $color-primary-normal;
}


/***** font-weight-sm *****/
@mixin textstyle-pr-sm-18 {
  font-family: $font-pretendard;
  line-height: $line-height;
  font-size: $font-size-18;
  font-weight: $font-weight-sm;
  color: $color-primary-normal;
}

@mixin textstyle-pr-sm-16 {
  font-family: $font-pretendard;
  line-height: $line-height;
  font-size: $font-size-16;
  font-weight: $font-weight-sm;
  color: $color-primary-normal;
}

@mixin textstyle-pr-sm-14 {
  font-family: $font-pretendard;
  line-height: $line-height;
  font-size: $font-size-14;
  font-weight: $font-weight-sm;
  color: $color-primary-normal;
}