/***** color *****/
$color-primary-dark : #DE300D;
$color-primary-normal : #F56242;
$color-primary-light : #F7917D;
$color-primary-alpha80 : rgba(245, 99, 66, 0.8);
$color-primary-alpha50 : rgba(245, 99, 66, 0.5);
$color-primary-alpha20 : rgba(245, 99, 66, 0.2);

$color-white-normal : #FBF6F3;
$color-white-alpha80 : rgba(251, 246, 243, 0.8);
$color-white-alpha50 : rgba(251, 246, 243, 0.5);
$color-white-alpha20 : rgba(251, 246, 243, 0.2);
$color-white-alpha00 : rgba(251, 246, 243, 0);

$color-black-normal : #111210;
$color-black-darkmode : #303131;
$color-black-alpha80 : rgba(17, 18, 16, 0.8);
$color-black-alpha50 : rgba(17, 18, 16, 0.5);
$color-black-alpha20 : rgba(17, 18, 16, 0.2);

/***** font *****/
$font-dnfbit : 'DNFBitBitv2', -apple-system, BlinkMacSystemFont, system-ui, Roboto, sans-serif;
$font-pretendard : "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, sans-serif;

$line-height : 1.4;

/***** typography *****/
$line-height : 1.4;
$font-weight-sm : 500;
$font-weight-md : 700;
$font-weight-lg : 800;
$font-weight-xl : 900;

$font-size-72 : 4.5rem;
$font-size-56 : 3.5rem;
$font-size-36 : 2.25rem;
$font-size-32 : 2rem;
$font-size-24 : 1.5rem;
$font-size-20 : 1.25rem;
$font-size-18 : 1.125rem;
$font-size-16 : 1rem;
$font-size-14 : 0.875rem;

/***** spacing *****/
$padding-pc-lg : 36px;
$padding-pc-md : 32px;
$padding-pc-sm : 24px;
$padding-pc-xs : 18px;
$padding-pc-xxs : 4px;

$padding-mo-xl : 60px;
$padding-mo-lg : 40px;
$padding-mo-md : 20px;
$padding-mo-sm : 12px;
$padding-mo-xs : 8px;
$padding-mo-xxs : 4px;

/***** radius *****/
$radius : 999px;

/***** transition *****/
$transition-time-slow : 0.5s;
$transition-time-normal : 0.35s;
$transition-time-fast : 0.2s;
$transition-motion : ease-in-out;