<nav>
     <h1 class="logo" data-aos="fade-up"><a href="https://moonwud.github.io/Portfolio_2025/"><img src="./assets/logo.svg" alt="logo"></a></h1>
     <ul class="gnb">
          <li class="first_gbn_btn" data-aos="fade-up">
               <a href="https://moonwud.github.io/Portfolio_2025/about.html" class="ghostbtn">About</a>
          </li>
          <li class="center_gbn_btn" data-aos="fade-up">
               <a href="https://moonwud.github.io/Portfolio_2025/work.html" class="ghostbtn">Work</a>
          </li>
          <li class="last_gbn_btn" data-aos="fade-up">
               <a href="https://moonwud.github.io/Portfolio_2025/contact.html" class="normalbtn">Contact</a>
          </li>
     </ul>
</nav>